/* Navigation.module.css */
.nav {
  width: 100%;
  text-align: rights;
  padding-right: 2rem;
}

.ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.a:hover {
  color: #0077cc;
}
