.section {
  background-color: #fffab0;
  text-align: center;
  padding: 4rem 1rem;
  position: relative;
}

.wrap {
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 3rem;
  overflow: visible;
}

.circleContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto 2rem;
}

.textCircle {
  width: 100%;
  height: 100%;
  animation: rotateIt 50s linear infinite;
}

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}

.textCircle text {
  font-size: 2rem;
  font-weight: 300;
  fill: #000;
}

.textCircle textPath {
  letter-spacing: 17px;
}

.iconImg {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
