.container {
  background-color: #fffef4;
  position: relative;
  width: 100%;
  min-height: 300px;
  overflow: visible;
  padding: 3rem 1rem;
}

.h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.BlackFishImg {
  width: 30px;
  height: 30px;
}

.text {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.8;
  padding: 1.5rem;
}

/* ボタン */
.btnWrap {
  text-align: center;
  margin-top: 2rem;
}

.btn {
  /* background-color: #fff9b0;
  color: #5a4634; */
  background-color: #ffe1d0;
  color: #5a4634;
  padding: 0.8rem 2.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.btn:hover {
  /* background-color: #fff07a; */
  background-color: #ffd0b8;

  transform: translateY(-2px);
}
